
<head>
  <title>clixr.io</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'editor' %>
  <%= filepicker_js_include_tag %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <link href='http://fonts.googleapis.com/css?family=Lato|Arvo|Signika|Lora|Anton|Roboto|Oxygen:300|Slabo+27px' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="content">

  </div>
</body>
<script>
  $(document).ready(function(){
    var contentDiv = $('.content')
    filepicker.setKey("<%= ENV['filepicker_api_key'] %>");
    ClixrIo.initialize(contentDiv, <%= @site.id %>);
  });
</script>
